doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/main.css')
  body
    block content

    block scripts
      script(src='/scripts/main.js')
      script(id='__bs_script__').
       //<![CDATA[
          document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.2.10.0.js'><\/script>".replace("HOST", location.hostname));//]]>